<div>
    <p>Ai reusit!</p>
    &nbsp;
  </div>

  
  <div>
    &nbsp;
  </div>
  
  <div class="row">
    <table class="table table-striped" font-size: large style="width:70%">
      <thead>
        <th>Subject</th>
        <th>Grade</th>
        <th>Date</th>
      </thead>
  
      <tbody>
        <tr *ngFor="let item of users | paginate : pagingConfig; let i = index">
          <td>{{item.denumire_materie}}</td>
          <td>{{item.nota}}</td>
          <td>{{item.data}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  
  <div class="d-flex justify-content-center">
    <pagination-controls previousLabel="Prev" nextLabel="Next" (pageChange)="onTableDataChange($event)">
    </pagination-controls>
  </div>