<p>&nbsp;</p>
<div class="d-flex justify-content-center">
  <p></p>
  <img width="35px" height="35px" src="assets/images/exam.png">
  <p>&nbsp;</p>
  <h1>Select the subject:</h1>
</div>

<div class="d-flex justify-content-center">
  <mat-form-field>
    <mat-label>The Subject</mat-label>
    <mat-select>
      <mat-option>None</mat-option>
      <button (click)="onSelect(item)" *ngFor="let item of courses">
        <mat-option>{{item.denumire_materie}}</mat-option>
      </button>
    </mat-select>
  </mat-form-field>
</div>