<form [formGroup]="bioSection" (ngSubmit)="callingFunction()">
  <div class="mb-3">
    <label class="form-label">Please select student</label>
    <select class="form-select" formControlName="id_user">
      <option selected>Please select student</option>
      <option *ngFor="let item of users" [ngValue]="item.id_user">{{item.id_user}} {{item.name}} {{item.surname}} </option> 
    </select>
  </div>

  <div class="mb-3">
    <label  for="formGroupExampleInput2" class="form-label">Introdu grade</label>
    <input type="number" class="form-control" formControlName="grade" placeholder="Introdu nota">
  </div>

  <button type="button" class="btn btn-outline-primary"> Add </button>

</form>
