@import "../../../styles.scss";
@import "../../../variables.scss";

.footer {
    height: $footer-height;
    background-color: $univ-black;
    color: $univ-red;
    position:fixed;
    bottom:0px;
    width:100%;
}
