<div>
  &nbsp;
</div>

<div class="d-flex justify-content-end">
  <button class="btn btn-primary " data-bs-toggle="modal" data-bs-target="#staticBackdrop" (click)="modalAdd()">
    Add Grade
  </button>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</div>

<div>
  &nbsp;
</div>

<div class="row">
  <table class="table table-striped" font-size: large style="width:100%">
    <thead>
      <th>Id_Grade</th>
      <th>Name</th>
      <th>Surname</th>
      <th>Grade</th>
      <th>Edit Grade</th>
      <th>Delete Grade</th>
    </thead>

    <tbody>
      <tr *ngFor="let item of users | paginate : pagingConfig; let i = index">
        <td style="width:10%">{{item.id_grade}}</td>
        <td>{{item.name}}</td>
        <td>{{item.surname}}</td>
        <td>{{item.grade}}</td>
        <th>
          <button class="btn btn-outline-dark EditBtn" data-bs-toggle="modal" data-bs-target="#staticBackdrop"
          (click)="onEdit(item)">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
              class="bi bi-pencil-square" viewBox="0 0 16 16">
              <path
                d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
              <path fill-rule="evenodd"
                d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
            </svg>
          </button>
        </th>

        <th>
          <button class="btn btn-outline-danger EditBtn" (click)="deleteGradeForm(item.id_grade)">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill"
              viewBox="0 0 16 16">
              <path
                d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z" />
            </svg>
          </button>
        </th>
      </tr>
    </tbody>
  </table>
</div>

<div class="d-flex justify-content-center">
  <pagination-controls previousLabel="Prev" nextLabel="Next" (pageChange)="onTableDataChange($event)">
  </pagination-controls>
</div>

<!-- Add Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <img width="50px" height="50px" src="assets/images/student.png">
        <h5 class="modal-title" id="staticBackdropLabel">{{modalTitle}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
          id="add-edit-modal-close"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <label for="formGroupExampleInput2" class="form-label">Subject</label>
          <input formControlName="denumire_materie" type="text" class="form-control" name="denumire_materie" placeholder="{{message}}" readonly>
        </div>
        <form [formGroup]="bioSection">
          <div class="mb-3">
            <label class="form-label">Please select student</label>
            <select class="form-select" formControlName="id_user" required>
              <option *ngFor="let item of displayUsers" [ngValue]="item.id_student">{{item.name}} {{item.surname}}
              </option>
            </select>
            <div>
              <span style="color:grey" *ngIf="id_user.invalid">*Please select a student from the list</span>
            </div>
          </div>
          <div class="mb-3">
            <label for="formGroupExampleInput2" class="form-label">Add new grade</label>
            <input type="number" class="form-control" placeholder="Introdu nota" formControlName="grade" required  max="10" min="1">
            <p style="color:grey" *ngIf="grade.invalid">*Please complete the field with a number between 1-10</p>
          </div>
          <div class="modal-footer">
            <button *ngIf="btnSaveShow" [disabled]="bioSection.invalid" type="submit" class="btn btn-outline-primary"
              (click)="setValueSubject()" (click)="callingFunction()"> Add </button>
            <button *ngIf="btnUpdateShow" [disabled]="bioSection.invalid" type="submit" class="btn btn-outline-primary"
              (click)="setValueSubject()" (click)="UpdateStudent()"> Update </button>
            <button type="button" id="cancel" class="btn btn-outline-secondary" data-bs-dismiss="modal"> Close </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>