table.table-striped {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

table, th, td {
  border: 3px solid black;
  border-collapse: collapse;
  text-align: center;

}

.btn {
  left: 920px;
}

.button {
  background-color: #4CAF50;
}

.button2 {
  background-color: #008CBA;
}

p.ng-valid {
  color: red;
  background-color: green;
}

p.ng-touched.ng-invalid {
  color: red;
  background-color: red;
}

input.ng-invalid.ng-dirty {
  border: 2px solid red !important;
}

input.ng-valid.ng-dirty {
  border: 2px solid #4CAF50 !important;
}

select.ng-valid {
  border-color: #4CAF50;
  border-style: solid;
  border-width: 2px;
}

select.ng-touched.ng-invalid {
  border-color: red;
  border-style: solid;
  border-width: 2px;
}

.EditBtn {
  border-radius: 50%;
}

table.center {
  margin-left: auto; 
  margin-right: auto;
}