@import "../../../styles.scss";
@import "../../../variables.scss";

.header {
    height: $footer-height;
    background-color: $univ-black;
    color: $univ-red;
}
h5{
        font: 1.2em "Fira Sans", sans-serif;
        color: white;
        margin-bottom: 0.1rem;
        margin-top: 0.4rem;
        text-shadow: 0 0 1px #ff0000;
       
    }
p{
    font: 1.2em "Fira Sans", sans-serif;
    color:white;
    text-shadow: 0 0 1px #ff0000;

}

.button1 {
    border-radius: 50%;
    align-self: center;
}


