table.table-striped {
    width: 50%;
    margin-left: auto;
    margin-right: auto;}

.position{
    left: 920px;}

.button {
    background-color: #4CAF50;
    }
.button2 {
    background-color:#008CBA;}
